@charset "UTF-8";
@import 'bootstrap/bootstrap';
@import 'bootstrap/variables';


/*---------------- 필터링선택폼 ----------------*/

.heading-title {
	font-size: 30px;
	margin-bottom: 30px; }

.filter-container {
	background-color: #F9C7A1;
	
	width: 100%;

	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
  	margin-left: auto; }

	@media (min-width: 576px) {
		.filter-container {
		  max-width: 540px; } }
	  @media (min-width: 768px) {
		.filter-container {
		  max-width: 720px; } }
	  @media (min-width: 992px) {
		.filter-container {
		  max-width: 960px; } }
	  @media (min-width: 1200px) {
		.filter-container {
		  max-width: 1140px; } }
.sidebar-wrap{
	background-color: burlywood !important;
}


.filter-row {

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px; }

.form-group {
	margin-bottom: 1rem; }

.form-control {
	display: block;
	width: 100%;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	-webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	-o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; }
	@media screen and (prefers-reduced-motion: reduce) {
		.form-control {
		-webkit-transition: none;
		-o-transition: none;
		transition: none; } }
	.form-control::-ms-expand {
		background-color: transparent;
		border: 0; }
	.form-control:focus {
		color: #495057;
		background-color: #fff;
		border-color: #eaf8fd;
		outline: 0;
		-webkit-box-shadow: 0 0 0 0.2rem rgba(120, 213, 239, 0.25);
		box-shadow: 0 0 0 0.2rem rgba(120, 213, 239, 0.25); }
	.form-control::-webkit-input-placeholder {
		color: #6c757d;
		opacity: 1; }
	.form-control:-ms-input-placeholder {
		color: #6c757d;
		opacity: 1; }
	.form-control::-ms-input-placeholder {
		color: #6c757d;
		opacity: 1; }
	.form-control::placeholder {
		color: #6c757d;
		opacity: 1; }
	.form-control:disabled, .form-control[readonly] {
		background-color: #e9ecef;
		opacity: 1; }

.form-group label{
	display: block;

	font-size: 20px;
	color: #495057;
}

.form-check {
	position: relative;
	display: block;
	padding-left: 1.25rem; }

.form-check-input {
	position: absolute;
	margin-top: 0.3rem;
	margin-left: -1.25rem; }
	
.form-check-input:disabled ~ .form-check-label {
	color: #6c757d; }

.form-check-label {
margin-bottom: 0; }
/*---------------- 시터목록 ----------------*/



/*---------------- 지도조회 ----------------*/

