<?xml version="1.0" encoding="UTF-8" ?>


<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<!-- DataSource는 spring이 제공하니까 환경설정은 생략 -->

<!--   <mappers>
     <mapper resource="mappers/1/SQL1Mapper.xml"/>
     <mapper resource="mappers/2/SQL2Mapper.xml"/>
     <mapper resource="mappers/3/SQL3Mapper.xml"/>
     <mapper resource="mappers/4/SQL4Mapper.xml"/>
 -->
	 <!-- <mapper class="FQCN방식으로 인터페이스를 등록" -->
	 <!-- <mapper class="org.zerock.myapp.mapper.TimeMapper"/> -->
  <!-- </mappers> -->

</configuration>