<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bitcamp.petcare.mypage.mapper.CustomerProfileManageMapper">

    <select id="readProfile" resultType="com.bitcamp.petcare.mypage.domain.CustomerProfileManageVO">
		SELECT 
		    p.pro_photo,
		    p.pet_type_code,
		    p.pet_name,
		    TO_CHAR(p.pet_birthday, 'YYYY-MM-DD'),
		    p.pet_gender,
		    p.neutralization,
		    p.medicine,
		    p.special_note
		FROM tbl_pet_profile p
		where p.user_no = #{userNo}
	 </select>
	 
	 <insert id="insertProfile">
	 	INSERT INTO tbl_pet_profile(
    			user_no,
    			pro_photo, 
    			pet_type_code, 
    			pet_name, 
    			pet_birthday, 
    			pet_gender, 
    			neutralization, 
    			medicine, 
    			special_note, 
    			reg_user_no, 
    			reg_date)
		VALUES (
			#{userNo}, 
			#{proPhoto}, 
			#{petTypeCode}, 
			#{petName}, 
			TO_DATE(#{petBirthday} , 'yyyy-MM-dd'),
			#{petGender}, 
			#{neutralization}, 
			#{medicine}, 
			#{specialNote}, 
			#{userNo}, 
			current_date)
	 </insert>
	 
	 <update id="updateProfile">
	 	UPDATE
		    tbl_pet_profile
		SET
		    pro_photo = #{proPhoto},
		    pet_type_code = #{petTypeCode},
		    pet_name = #{petName},
		    pet_birthday = TO_DATE(#{petBirthday} , 'yyyy-MM-dd'),
		    pet_gender = #{petGender},
		    neutralization = #{neutralization},
		    medicine = #{medicine},
		    special_note = #{specialNote},
		    mod_user_no = #{userNo},
		    mod_date = current_date
		WHERE user_no = #{userNo}
	  </update>
</mapper>