<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bitcamp.petcare.mypage.mapper.CustomerReviewManageMapper">

<select id="readReview" resultType="com.bitcamp.petcare.mypage.domain.CustomerReviewManageVO"> 	<!-- 리뷰 조회 -->
		SELECT r.service_id,
		       r.rev_content,
		       r.grade,
		       u.user_no
		FROM tbl_review r
		INNER JOIN tbl_service_matching m ON (r.service_id = m.service_id)
		INNER JOIN tbl_user u ON (m.pet_user_no = u.user_no)
		WHERE r.service_id = #{serviceId}
	
</select>


<insert id="insertReview">						
		INSERT INTO tbl_review (service_id, 
						   rev_content, 
						   grade, 
						   writer_no, 
						   writer_date)
		VALUES (#{serviceId},
	        	#{revContent},
	        	#{grade},
	        	#{userNo},
	        	current_date)
	
	
</insert>

<update id="updateReview">						
	UPDATE
		tbl_review
	SET	
		grade = #{grade},
		rev_content = #{revContent},
		writer_date = current_date
	WHERE service_id = #{serviceId}

</update>

</mapper>