<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bitcamp.petcare.mypage.mapper.SitterProfileManageMapper">
		
   <!-- select -->

   <select id="getPetsitterProfile" resultType="com.bitcamp.petcare.mypage.domain.PetsitterProfileVO">
      SELECT p.user_no, p.pro_photo, p.introduce
      FROM tbl_petsitter_profile p
      WHERE p.user_no = #{userNo}
   </select>

   <select id="getServiceType" resultType="com.bitcamp.petcare.mypage.domain.ServiceTypeVO">      
      SELECT p.user_no, t.service_type_code, c.code_name, t.use_yn, t.price
      FROM tbl_petsitter_profile p
      INNER JOIN tbl_service_type t ON p.user_no = t.user_no
      INNER JOIN tbl_common_code c ON t.service_type_code = c.code
      WHERE p.user_no = #{userNo}       
   </select>

   <select id="getPetsitterSkill" resultType="com.bitcamp.petcare.mypage.domain.PetsitterSkillVO">
      	SELECT p.user_no, s.skill_type_code, c.code_name, s.use_yn
		FROM tbl_petsitter_profile p
		INNER JOIN tbl_petsitter_skill s ON p.user_no = s.user_no
		INNER JOIN tbl_common_code c ON s.skill_type_code = c.code
		WHERE p.user_no = #{userNo}
   </select>
   
   <select id="getServicePetKinds" resultType="com.bitcamp.petcare.mypage.domain.ServicePetkindsVO">
      	SELECT p.user_no, k.pet_type_code, c.code_name, k.use_yn
      	FROM tbl_petsitter_profile p
      	INNER JOIN tbl_service_petkinds k ON p.user_no = k.user_no
      	INNER JOIN tbl_common_code c ON k.pet_type_code = c.code
      	WHERE p.user_no = #{userNo}
   </select>

   <select id="getServiceCalendar" resultType="com.bitcamp.petcare.mypage.domain.ServiceCalendarDTO">
      SELECT /*+ index_desc(tbl_petsitter_profile) */ 
		     ps.user_no,
		     TO_CHAR(sc.service_date,'yyyy-MM-dd') as service_date
		FROM tbl_petsitter_profile ps
		INNER JOIN tbl_service_calendar sc on ps.user_no 
                                            = sc.user_no
		WHERE ps.user_no = #{userNo} 
   </select>
   
   <select id="getActivityPhoto" resultType="com.bitcamp.petcare.mypage.domain.ActivityPhotoVO">
      SELECT p.user_no, a.photo_no, a.act_photo, a.file_name
      FROM tbl_petsitter_profile p
      INNER JOIN tbl_activity_photo a ON p.user_no = a.user_no
      WHERE p.user_no = #{userNo}
   </select>

   
   <!-- insert -->

   <insert id="insertPetsitterProfile">
      INSERT INTO tbl_petsitter_profile
            (user_no, pro_photo, introduce, reg_user_no, reg_date)
      VALUES
            (#{userNo}, #{proPhoto}, #{introduce}, #{userNo}, current_date)      
   </insert>

   <insert id="insertServiceCalendar">
      INSERT INTO tbl_service_calendar
            (user_no, service_date, reg_user_no, reg_date)
      VALUES
            (#{userNo}, #{serviceDate}, #{userNo}, current_date)    
   </insert>

   <insert id="insertActivityPhoto">
      INSERT INTO tbl_activity_photo
            (user_no, photo_no, act_photo, reg_user_no, reg_date, file_name)
      VALUES
            (#{userNo}, (SELECT NVL(MAX(photo_no),0)+1 FROM tbl_activity_photo WHERE user_no = #{userNo}), #{actPhoto}, #{userNo}, current_date,#{fileName})      
   </insert>



   <!-- update -->

   <update id="updatePetsitterProfile">
      UPDATE 
         tbl_petsitter_profile
      SET
         pro_photo = #{proPhoto},
         introduce = #{introduce},
         mod_user_no = #{userNo},
         mod_date = current_date
      WHERE
         user_no = #{userNo}
   </update>

   <update id="updateServiceCalendar">
      UPDATE 
         tbl_service_calendar
      SET
         service_date = #{serviceDate},
         mod_user_no = #{userNo},
         mod_date = current_date
      WHERE
         user_no = #{userNo}      
   </update>
   
   
   <!-- delete -->
 
	<delete id = "deleteServiceCalendar">
		DELETE FROM tbl_service_calendar
		WHERE user_no = #{userNo}
		AND TO_CHAR(service_date,'YYYY-MM') = #{serviceYM}
	</delete>
	 
	
   <delete id="deleteActivityPhoto">
	 	DELETE FROM tbl_activity_photo
		WHERE user_no = #{userNo}
		AND act_photo NOT IN 
		<foreach collection="photoNoList" item="item" index="index" separator="," open="(" close=")"> 
             #{item} 
        </foreach>    
   </delete>
	  
   <!-- merge문 -->
   <update id="mergeServiceType">
   	MERGE INTO tbl_service_type
   		USING DUAL 
   		ON (user_no = #{userNo} and service_type_code = #{serviceTypeCode})
   	WHEN MATCHED THEN
   	UPDATE SET
   	 use_yn = #{useYn},
   	 price = #{price}
   	WHEN NOT MATCHED THEN
   	INSERT
	(user_no, service_type_code, use_yn, price, reg_user_no, reg_date)
	VALUES(
	 #{userNo},#{serviceTypeCode},#{useYn},#{price},#{userNo},current_date
	)   		
   </update>
   
   <update id="mergeSkillType">
   	MERGE INTO tbl_petsitter_skill
   		USING DUAL 
   		ON (user_no = #{userNo} and skill_type_code = #{skillTypeCode})
   	WHEN MATCHED THEN
   	UPDATE SET
   	 use_yn = #{useYn}
   	WHEN NOT MATCHED THEN
   	INSERT
	(user_no, skill_type_code, use_yn, reg_user_no, reg_date)
	VALUES(
	 #{userNo},#{skillTypeCode},#{useYn},#{userNo},current_date
	)   		
   </update>
   
   <update id="mergePetType">
   	MERGE INTO tbl_service_petkinds
   		USING DUAL 
   		ON (user_no = #{userNo} and pet_type_code = #{petTypeCode})
   	WHEN MATCHED THEN
   	UPDATE SET
   	 use_yn = #{useYn}
   	WHEN NOT MATCHED THEN
   	INSERT
	(user_no, pet_type_code, use_yn, reg_user_no, reg_date)
	VALUES(
	 #{userNo},#{petTypeCode},#{useYn},#{userNo},current_date
	)   		
   </update>

</mapper>