<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bitcamp.petcare.user.mapper.UserMapper">
	
	<!-- 회원가입 -->
	<insert id="joinUser">
		INSERT INTO tbl_user
			 (user_no, user_id, user_pw, user_nickname, user_contact, 
			  user_address, user_latitude, user_longitude, user_gender, user_classify, user_status,
			  reg_user_no, reg_date
			  )
		VALUES 
			 (user_no_seq.nextval,  #{userId}, #{userPw}, #{userNickname}, #{userContact}, #{userAddress},
			  #{userLatitude}, #{userLongitude}, #{userGender}, #{userClassify}, #{userStatus},
			  user_no_seq.CURRVAL, sysdate)
	</insert>
	
	<!-- 로그인 -->
	<select id="loginUser" resultType="com.bitcamp.petcare.user.domain.UserVO">
		SELECT 
			user_no AS userNo,
			user_id AS userId,
			user_pw AS userPw,
			user_nickname AS userNickname,
			user_classify AS userClassify
		FROM 
			tbl_user
		WHERE 
			user_id = #{userId}
			AND
			user_status = 'N'
	</select>
	
	<!-- 아이디 중복확인 -->
	<select id="checkId" resultType="String">
		SELECT user_id
		FROM tbl_user
		WHERE user_id = #{userId}
	</select> 
	
	<!-- 닉네임 중복확인 -->
	<select id="checkNickName" resultType="String">
		SELECT user_nickname
		FROM tbl_user
		WHERE user_nickname = #{nickName}
	</select>
	
	<!-- 비밀번호 변경 -->
	<update id="changePw">
		UPDATE tbl_user
		SET 
			user_pw = #{userPw}
		WHERE
			user_id = #{userId}
	</update>
	
	<!-- RememberMe관련 sql -->
	<select id="selectUserWithRememberMe" resultType="com.bitcamp.petcare.user.domain.UserVO">
		SELECT
			user_no, user_id, user_pw, user_nickname, user_classify
		FROM
			tbl_user
		WHERE 
			remember = #{rememberMe}	
		AND 
			REMEMBERAGE > sysdate
	</select>
	
	<update id="updateUserWithRememberMe">
		UPDATE tbl_user
		SET	
			remember = #{rememberMe},
			REMEMBERAGE = #{rememberAge}
	  WHERE 
	  		user_id = #{userId}
	</update>
</mapper>