@charset "UTF-8";


/* 페이징 버튼 */
.pull-right{
	text-align: center;
	width: 50%;
}

.pagination{
	list-style: none;
	display:inline-block;
	padding: 0;
	margin-top: 20px;
}

.pagination li{
	display: inline;
	text-align: center;
}

.pagination a{
	float: left;
	display: block;
	font-size: 14px;
	text-decoration: none;
	padding: 5px 12px;
	color: #96a0ad;
	line-height: 1.5;
}

.pre:hover, .next:hover{
	color: #2e9cdf;
}

.pagination a.active{
	cursor: default;
	color: #ffffff;
}

.pagination a:active{
	outline: none;
}

.pagination .active{
	margin-left: 3px;
	padding: 0;
	width: 30px;
	height: 30px;
	line-height: 30px;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
}

.pagination .active:hover{
	background-color: #2e9cdf;
	color: #ffffff;
}

.pagination .active.active, .pagination .active:active{
	background-color: #2e9cdf;
	cursor: pointer;
}

.next{
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
}