/*====================================================*/
/*================전체 레이아웃(반응형적용)==================*/
/*====================================================*/


#wrapper { /*100%로 너비값*/
    width: 100%;
    margin: 0 auto;

    font-family: 'Noto Sans KR', sans-serif;
}
@media (max-width: 1400px) {
	#wrapper{
	max-width: 1320px;
  }
}
@media (max-width: 1200px) {
    #wrapper{
        max-width: 1140px; 
    } 
} /* 큰 데스크탑 */
@media (max-width: 992px) {
    #wrapper{
        max-width: 960px; 
    } 
} /* 데스크탑 */
@media (max-width: 768px) {
    #wrapper{
        max-width: 720px; 
    } 
} /* 태블릿 */
@media (max-width: 576px) {
    #wrapper{
        max-width: 540px; 
    } 
}  /* 스마트폰 */

.sidebar-search { /*사이드바 %로 단위변경*/
    float: left;
    position: relative;

    width: 22%;
    height: 1350px;
    padding: 1.5%;
    padding-top: 0px; 
    /* padding-top: 70px; */

    background-color: #fff9e8;
    box-shadow: 0px 2px 6px rgb(0 0 0 / 40%);
}

.sidebar-list { /*사이드바 %로 단위변경*/
    float: left;
    overflow: auto;
    position: relative;
    
    width: 22%;
    height: 1350px;
    padding: 1.5% 0.5%;

    background-color: white;
    box-shadow: 0px -2px 6px rgb(0 0 0 / 40%) inset;
}

.content { /*본문 %로 단위변경*/
    float: left;
    position: relative;
    
    width: 56%;
    height: 1350px;
    padding: 1.5%;
}
@media (max-width: 1466px) {
    .sidebar-search {
      width: 25%;
    }
    .sidebar-list {
      width: 28%;
    }
    .content {
      width: 47%;
    } 	
}	
@media (max-width: 1440px) {
    .sidebar-search {
      width: 25%;
    }
    .sidebar-list {
      width: 28%;
    }
    .content {
      width: 47%;
    }
    .profile{
      width: 47%;
    } 
} /* 데스크탑 */
@media (max-width: 1200px) {
    .sidebar-search {
      width: 28%;
    }
    .sidebar-list {
      width: 30%;      
    }
    .content {
      width: 42%;
    } 
    .profile{
      width: 42%;
    }
} /* 데스크탑 */
@media (max-width: 1024px) {
    .sidebar-search {
      width: 30%;      
    }
    .sidebar-list {
      width: 33%;      
    }
    .content {
      width: 37%;
    } 
    .profile{
      width: 37%;
    }    
} /* 데스크탑 */
@media (max-width: 1000px) {
    .sidebar-search {
      width: 30%;      
    }
    .sidebar-list {
      width: 30%;      
    }
    .content {
      width: 40%;
    }
    .profile{
      width: 40%;
    }      
} /* 데스크탑-태블릿 사이 */
@media (max-width: 780px) {
    .sidebar-search {
      width: 50%;      
    }
    .sidebar-list {
      width: 50%;      
    }
    .content {
      width: 100%;
    }
} /* 태블릿 */
@media (max-width: 576px) {
    .sidebar-search {
      width: 100%;
    }
    .sidebar-list {
      width: 100%;
    }
    .content {
      width: 100%;
    }
}  /* 스마트폰 */

.sidebar-list::-webkit-scrollbar {
    width: 10px;
  }
.sidebar-list::-webkit-scrollbar-thumb {
  background-color: #dddddd;
  border-radius: 15px;
}
.sidebar-list::-webkit-scrollbar-track {
  background-color: #white;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px #f0f0f0;
}

#searchTitle{
	font-size: 1.5rem;
}

/*====================================================*/
/*================ 필터링조건(반응형적용) ===================*/
/*====================================================*/

/*제목-필터링조건&리스트*/
.title {
    position: absolute;

    width: 100%; 
    height: auto;
    padding:1rem 0;
    margin: 0 auto;
    top: 0px;
    left: 0px;
    
    opacity: 0.7;
	font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    background-color: rgb(255, 210, 127);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
}
@media (max-width: 768px) {
    .title {
        height: auto;
        font-size: 1.5rem;
    }
} /* 태블릿 */
@media (max-width: 576px) {
    .title {
        height: auto;
        font-size: 1.8rem;
    }
}  /* 스마트폰 */

hr { 
    border: 0; 
    height: 0; 
    border-top: 1px solid rgba(0, 0, 0, 0.1); 
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); 
}

/*필터링조건항목(공통)*/
.form-group {
	margin: 1.7rem auto; 
    padding-left: 1rem;
}

.form-group > p{
	display: block;

	font-size: 1.1rem;
    font-weight: bold;
	color: #495057;
}
@media (max-width: 768px) {
    .form-group > p {
        font-size: 1.1rem;
    }
} /* 태블릿 */
@media (max-width: 576px) {
    .form-group > p {
        font-size: 1.3rem;
    }
}  /* 스마트폰 */

.form-group > input+label{
	padding-right:15px;		
}
@media (max-width: 1024px) {
    .form-group > input+label{
		padding-right:5px;		
    } 
} /* 데스크탑 */


/*input tag 통일(공통)*/
#sido,
#sigugun,
#dong{
    height: 25px;
	margin: 0 0 7px 5px;
	
    border-radius: 3px;
    border: 1px solid #c0c0c0;
}

input[type=checkbox]:click{
    background-color: yellow;
}

input[type=text]{
    cursor: pointer;
	
	height: 25px;
	margin: 0 0 7px 5px;
	
	border-radius: 3px;
    border: 1px solid #c0c0c0;
}

input[type=number]{
    height: 25px;
	width: 100px;	
	
	border-radius: 3px;
    border: 1px solid #c0c0c0;
}
@media (max-width: 1440px) {
    input[type=text]{
      width: 120px;
    } 
    input[type=number]{
      width: 95px;
    } 
} /* 데스크탑 */
@media (max-width: 1060px) {
    input[type=number]{
      width: 90px;
    } 
} /* 데스크탑 */
@media (max-width: 1024px){
	input[type=number] {
	    width: 68px;
	}
}/* 데스크탑 */
@media (max-width: 768px) {
    input[type=text] {
	    width: 140px;
	}
	input[type=number] {
	    width: 95px;
	}
} /* 태블릿 */
@media (max-width: 576px) {
        input[type=text] {
	    width: 150px;
	}
	input[type=number] {
	    width: 120px;
	}
}  /* 스마트폰 */

/*필터링조건항목-반려동물종류(라디오버튼)*/
.btn-toggle{	
	display: none;
	margin: 0 auto;    
}

.btn-toggle input[type=radio]{
    display: none;
}

.btn-toggle input[type=radio] + label{
    display: inline-block;
    cursor: pointer;

    width: 30%;
    height: 55px;
    line-height: 40px;
    border-radius:10%;
    background-color: #fdfdfc;

    text-align: center;
    font-weight:bold;
    font-size: 0.9rem;
    font-family: 'Noto Sans KR', sans-serif;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 26%);
}

.btn-toggle input[type=radio] +label:hover {
    background-color: #fcebb8;
}

.btn-toggle input[type=radio]:checked +label:hover {
    background-color: #fcebb8;
}

.btn-toggle input[type=radio]:checked +label {
    background-color: #fae29a;
    font-color: #fdfdfc;
}


/*필터링조건항목-서비스지역(선택)*/
.form-group > ul{
	list-style: none;
	padding-left: 0;
}

.form-group > li{
	margin: 20px 0px;
}

/*필터링조건항목-서비스유형(체크박스)*/
.form-group input[type=checkbox]{
	margin-bottom:5px;
}	

#searchBtn {
  float: right;
  margin: 2%;
  width: 150px;
  height: 60px;
  border: 0;
  border-radius: 50% 20% / 10% 40%;

  font-size: 1rem;
  font-weight: bold;

  color: white;
  background-color:#f9c802;
}

#searchBtn:hover {
  box-shadow: 0px 2px 4px rgb(0 0 0 / 40%);
}
@media (max-width: 1440px) {
    #searchBtn {
 		 width: 130px;
 		 height: 50px;
    } 
} /* 데스크탑 */
@media (max-width: 1024px) {
    #searchBtn {
 		 width: 120px;
 		 height: 45px;
    }
} /* 데스크탑 */
@media (max-width: 768px) {
    #searchBtn {
 		 width: 130px;
 		 height: 50px;
    }
} /* 태블릿 */
@media (max-width: 576px) {
    #searchBtn {
 		 width: 130px;
 		 height: 50px;
    }
}  /* 스마트폰 */

[type=button]:not(:disabled), 
[type=submit]:not(:disabled),
#closeBtn {
    cursor: pointer;
}


/*====================================================*/
/*================ 펫시터리스트(반응형적용)==================*/
/*====================================================*/

#psTable {
	width: 95%;
	margin: 0 auto;
	
	word-break:break-all;
}

#psTable tbody tr td{
	line-height: 1.7rem;
}

#psTable > td{
	margin: 1rem 0;
  	padding: 1rem 0;
}

#pslistphoto{
	width: 110px;
	height: 120px;
	
	border-radius: 10%;
	overflow: hidden;	
}

#pslistphoto:hover{
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);	
	transform: scale(1.1);
}

#listphoto{
	width: 100%;
	height: 100%;
	padding: 2%;
	
	border-radius: 10%;
}

.line1,
.line2,
.line3{
	padding : 0.2rem;
	
	font-size: 0.9rem;
	border-bottom: 1px dashed #d2d2d2;
}

.line1{
	width: 30%; 
	background-size: cover;
	background-repeat:no-repeat;
}

.line2{
	width: 20%;	
	font-weight: bold;
	text-align: center;
}

.line3{
	width: 50%;	
}
@media (max-width: 1595px) {
    .line1{
	width: 30%; 
	background-size: cover;
	background-repeat:no-repeat;
	}
	
	.line2{
		width: 22%;	
	}
	
	.line3{
		width: 48%;	
	}
} /* 데스크탑 */
@media (max-width: 1466px) {
    .line1{
	width: 30%; 
	background-size: cover;
	background-repeat:no-repeat;
	}
	
	.line2{
		width: 22%;	
	}
	
	.line3{
		width: 48%;	
	}
} /* 데스크탑 */

.star{
	color: #efd803;
	font-family: 'Jua', sans-serif;
}

#pagination {
	display: flex;
	
	width: 95%;
	height: 55px;
	
	padding: 3%;
	margin-top: 10px;
}

#pagination ul{	
	margin: 0 auto;
	float: right;
}

#pagination li>a{
	color: #565656;
}

#pagination li{
	float : left;
	
	width : 30px;
	height : 30px;
	
	text-align :center;
	list-style: none;
	line-height: 30px;
	box-shadow: 0px 1px 3px rgb(0 0 0 / 25%);
}

.prev, .next {
	width: 32px !important;
	
	color : white !important;
	background-color:#feb654;
}

.currPage{
	background-color:#fdd68c;
	color; white;
}	
/*====================================================*/
/*================ 검색결과없을때(반응형적용) ================*/
/*====================================================*/
#noSearch {
	position: absolute;
	display: none;
    z-index: 1;
    
    background-color:white;
    width: 77.7%;
    height: 1350px;
    top: 70px;
    right: 0%;
}
@media (max-width: 1466px) {
    #noSearch {
      width: 75%;
    }
}	
@media (max-width: 1440px) {
    #noSearch {
      width: 75%;
    }
} /* 데스크탑 */
@media (max-width: 1200px) {
    #noSearch {
      width: 72%;
    }
} /* 데스크탑 */
@media (max-width: 1024px) {
    #noSearch {
      width: 70%;
    }
} /* 데스크탑 */
@media (max-width: 1000px) {
    #noSearch {
      width: 70%;
    }   
} /* 데스크탑-태블릿 사이 */
@media (max-width: 768px) {
    #noSearch {
      width: 100%;
    }
} /* 태블릿 */
@media (max-width: 576px) {
    #noSearch {
      width: 100%;
    }
}  /* 스마트폰 */


.noSearch{
	position: relative;
	margin: 0 auto;
	padding: 40px;
	
	width: 80%;
	top: 10%;
    opacity: 0.8;
	font-size: 1.5rem;
    font-weight: bold;
	font-color: #949494;
	text-align: center;
}
@media (max-width: 768px) {
    .noSearch {
        font-size: 1.5rem;
    }
} /* 태블릿 */
@media (max-width: 576px) {
    .noSearch {
        font-size: 1.8rem;
    }
}  /* 스마트폰 */

.noSearch>span{
	display: inline-block;
	vertical-align: middle;
}	

#imgId1{
	display: inline;
	width: 25%;
	height: 40%;
}

#imgId2{
	display: block;
	margin: 7% auto;
	
	width: 90%;
	vertical-align: middle;
}


/*====================================================*/
/*================ 지도조회(반응형적용) ===================*/
/*====================================================*/
#map {
	position: relative;
    z-index: 2;
}

/*====================================================*/
/*===================== 펫시터프로필 ======================*/
/*====================================================*/
.profile{
    display: none;
    position: absolute;
    
    width: 56%;
    height: 1350px;
    top: 70px;
    right: 0%;
    z-index: 5;
}
@media (max-width: 1466px) {
    .profile{
      width: 75%;
    }
}	
@media (max-width: 1440px) {
    .profile{
      width: 75%;
    } 
} /* 데스크탑 */
@media (max-width: 1200px) {
    .profile{
      width: 72%;
    }
} /* 데스크탑 */
@media (max-width: 1024px) {
    .profile{
      width: 100%;
    }    
} /* 데스크탑 */
@media (max-width: 1000px) {
    .profile{
      width: 100%;
    }      
} /* 데스크탑-태블릿 사이 */
@media (max-width: 780px) {
    .profile {
      width: 100%;      
    }
} /* 태블릿 */
@media (max-width: 576px) {
    .profile {
      width: 100%;
      padding-top: 100px;
    }
}  /* 스마트폰 */

.profile_close{
	position: absolute;
	
    width: 26px;
    height: 26px;
    top: 25px;
    right: 30px;
}

.profile_close> a{
    display: block;
    width: 100%;
    height: 100%;
    background:url(https://img.icons8.com/metro/26/000000/close-window.png);
    text-indent: -9999px;
}

#profile_wrap{	
	overflow: auto;
	
	margin: 0 auto;
	padding: 5%;
	width: 100%;
    height: 1350px;
	
	background-color: white;
}
#profile_wrap::-webkit-scrollbar {
    width: 10px;
  }
#profile_wrap::-webkit-scrollbar-thumb {
  background-color: #dddddd;
  border-radius: 15px;
}
#profile_wrap::-webkit-scrollbar-track {
  background-color: #white;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px #f0f0f0;
}

#profile_head{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	
	margin: 0 auto;
	margin-bottom: 10%;
	padding: 2%;
	
	width: 100%;
    height: 320px; 
}

#profile_photo {
	margin: 0 auto;
    width: 250px;
    height: 250px;
     
    border-radius: 30%;
    overflow: hidden;
}

#photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    background: #BDBDBD;
}

#psInfo{
	padding: 3%;
	margin: 0 auto;	
	
	width: 650px;
	height: auto;	
}

#star{
	color: #fce303;
	font-family: 'Jua', sans-serif;
}

#psNickname,
#psAddress{
	font-size: 1.4rem;
}

#psIntroduce{
	padding: 3%;
	margin: 3% 0;
	margin-top:5%;
	width: 590px;
	font-size: 1.3rem;
	background-color: #f6f6f6;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 19%) inset;
}

#matchingBtn{
	float: right;
  	margin-top: 2%;
  	
 	width: 150px;
 	height: 60px;
  	border: 0;
  	border-radius: 50% 20% / 10% 40%;

	font-size: 1.2rem;
  	font-weight: bold;

  	color: white;
  	background-color:#ff6060;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
}

#matchingBtn:hover{
	transform: scale(1.1);
}

#profile_content{
	display: flex;
	flex-direction: row;
	margin: 0 auto;
    
	width: 855px;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);		
}

@media (max-width: 1875px) {
	#profile_content{
		margin-top: 310px;
	}		
}
@media (max-width: 1466px) {
	#profile_content{
		margin-top: 0;
	}		
}
@media (max-width: 1400px) {
	#profile_content{
		margin-top: 310px;
	}		
}
#profile_side{
	overflow: hidden;
	
	padding: 3%;
	width: 320px;
	height:auto;
	
	opacity: 0.9;
	background-color: #ffd993;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
}

#profile_body{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	
	padding: 3% 3% 3% 0;
	width: 535px;
	height:auto;
	
	opacity: 0.9;
	/* background-color: #D0DFC5; */
	background-color: #ffd993;
}

#serviceInfo{
	diplay: flex;
	flex-direction: column;
	
	width: 100%;
	height: 100%;
}
#service1,
#service2,
#service3,
#service4{
	padding: 5%;
	margin-bottom: 5%;
		
	background-color: white;
}

#service4{
	display: none;	
}

.liImg{
	width:auto;
	list-style-position: inside;
	list-style-image:url("/resources/assets/img/search/ul.png");
	list-style-type:disc;
}


#calendar{
	width: 100%;
    padding: 5% 1% 2% 1%;	
	
	opacity: 0.7;
	text-align: center;
}

#day7{
	font-weight: bold; 
}

#calPre,
#calNext{
	padding: 0;
	
	border: 0px;
    font-size: 1rem;
	background-color: white;
}

#YM{
	font-size: 1.2rem;	
    font-weight: bold;
}

.active_photo{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-bottom:5%;
		
	width: 100%;
	height: 350px;

	/* background-color: white; */
}

#ap1{
	width: 250px;
	height: 100%;
	margin-right: 0.5%;
	border-radius: 10%;
}

#ap2,
#ap3{
	width: 120px;
	height: 50%;
	border-radius: 10%;
}

#ap4,
#ap5{
	width: 120px;
	height: 50%;
	border-radius: 10%;
}

#ap5{
	position: relative;
}

#plusap{
	position: absolute;
	
	width: 120px;
	height: 100%;
	border-radius: 10%;
	
	top: 0;
	opacity: 0.4;
	background-color: black;
}


.apImg{
	width: 100%;
	height: 100%;
	
	border-radius: 7%;
	object-fit: cover;
	box-shadow: 2px 2px 5px gray;
}

.apImg:hover{
	transform: scale(1.1);
    cursor: pointer;	
}

#plusap:hover{
	transform: scale(1);
    cursor: pointer;
}

.modalap{
	width: 80%;
    margin: 0 auto;

    overflow: hidden;
}

.modalapImg{
	width: 100%;
	height: 100%;
	margin: 3%;
	
	object-fit: cover;
}

.noActivityPhoto{
	width: 100%;
	height: 100%;
}

.noActivityPhotoImg{
	width: 100%;
	height: 100%;
	
	opacity: 0.8;
	object-fit: cover;
}

#photomodalBox{
    display: none;
    position: absolute;
    overflow: auto;
    
    padding: 3%;
    width: 70%;
    height: 40%;
    
    top:17%;
    left: 15%;
	border-radius: 5%;
    background-color: white;

    z-index: 2;
}
#photomodalBox::-webkit-scrollbar { 
	display: none; 
}

#review-list{
	padding: 3%;
	
	width: 100%;
	height: 420px;
    overflow: auto;

	background-color: white;
}
#review-list::-webkit-scrollbar { 
	display: none; 
}

#review-list > img{
	display: inline-block;
}

.review{
	display: flex;
	flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
}

.revImg{
	width: 4rem;
    height: 4rem;

    margin: 1% 3% 1% 1%;
    border-radius: 10%;
	
	object-fit: cover;	
}

.revContent{
	margin: 2%;
}

#moreBtn{
    width: 100%;
    height: 2rem;

    border: 0;
    font-size: 1rem;
}

#modalBox{
    display: none;
    position: absolute;
    overflow: auto;
    
    padding: 3%;
    width: 54%;
    height: 40%;
    
    top:15%;
    left: 23%;
    background-color: white;
    z-index: 2;
}

.black_bg{
    display: none;
    position: absolute;
    
    content: "";
    width: 100%;
    height: 100%;

    top:0;
    left: 0;
    background-color:rgba(0, 0,0, 0.5);
    z-index: 1;
}

#photocloseBtn{
	position: absolute;

    width: 26px;
    height: 26px;

    top: 4%;
    right: 3%;
}

#closeBtn{
    position: absolute;

    width: 26px;
    height: 26px;

    top: 3%;
    right: 4%;
}

#photocloseBtn> a,
#closeBtn> a{
    display: block;
    width: 100%;
    height: 100%;
    background:url(https://img.icons8.com/metro/26/000000/close-window.png);
    text-indent: -9999px;
}

.reply{
	padding: 2%;
	margin: 2%;
		
	text-align: right;
	background-color: #fff9d9;
}

.noReview{
	text-align: center;
}

.noReviewImg{
	width: 110px;
    margin: 90px 0 10px 0;
}


/*====================================================*/
/*==================== float해제 =====================*/
/*====================================================*/
#clear{
	width: 100%;
	clear: both;
}

